Alloy4FunWebService/Alloy4FunWebService/WebContent/wsdl/AlloyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getInstance">
    <complexType>
     <sequence>
      <element name="model" type="xsd:string"/>
      <element name="sessionId" type="xsd:string"/>
      <element name="instanceNumber" type="xsd:int"/>
      <element name="commandLabel" type="xsd:string"/>
      <element name="forceInterpretation" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInstanceResponse">
    <complexType>
     <sequence>
      <element name="getInstanceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProjection">
    <complexType>
     <sequence>
      <element name="sessid" type="xsd:string"/>
      <element maxOccurs="unbounded" name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProjectionResponse">
    <complexType>
     <sequence>
      <element name="getProjectionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getInstanceResponse">

      <wsdl:part element="impl:getInstanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProjectionResponse">

      <wsdl:part element="impl:getProjectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstanceRequest">

      <wsdl:part element="impl:getInstance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProjectionRequest">

      <wsdl:part element="impl:getProjection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AlloyService">

      <wsdl:operation name="getInstance">

         <wsdl:input message="impl:getInstanceRequest" name="getInstanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInstanceResponse" name="getInstanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProjection">

         <wsdl:input message="impl:getProjectionRequest" name="getProjectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProjectionResponse" name="getProjectionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AlloyServiceSoapBinding" type="impl:AlloyService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInstance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInstanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInstanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProjection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProjectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProjectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AlloyServiceService">

      <wsdl:port binding="impl:AlloyServiceSoapBinding" name="AlloyService">

         <wsdlsoap:address location="http://localhost:8080/Alloy4FunWebService/services/AlloyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
